VITE_SERVER_API_URL=https://user-intake-service.rook.love/
VITE_SERVER_PRIVATE_API_URL=https://user-info-service.rook.love/
VITE_SERVER_API_KEY=Your_API_KEY #API Key to use user-intake-service API of backend

VITE_AUTH0_CLIENT_DOMAIN=Your_Auth0_Client_Domain
VITE_AUTH0_CLIENT_ID=Your_Auth0_Client_ID
VITE_AUTH0_CLIENT_SECRET=Your_Auth0_Client_Secret #Optional- Not Required for current Implementation

VITE_USE_PRODUCTION_API=false #Set to true to use production API (Only for dev, Not for use in production)