@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import 'tailwindcss';


@custom-variant dark (&:where(.dark, .dark *));

@theme {


    /* Font family */
    --font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;

    /* Light mode colors */

    --color-primary: #CB3249;
    --color-secondary: #253c29;
    --color-background: #ffffff;
    --color-text: #000000;
    --color-card-bg: #fbfbfb;
    --color-border: lightgray;
    --color-input-bg: #fff;

    /* Dark mode colors */
    --color-primary-dark: #ff5e78;
    --color-secondary-dark: #ffffff;
    --color-background-dark: #121212;
    --color-text-dark: #e0e0e0;
    --color-card-bg-dark: #1e1e1e;
    --color-border-dark: #333;
    --color-input-bg-dark: #2a2a2a;

    --animate-fade-in: fade-in 0.3s ease-out;
    --animate-fade-out: fade-out 0.3s ease-in;
}

body {
    font-family: var(--font-family);
    --webkit-scrollbar-thumb: var(--color-primary);
    scrollbar-color: var(--color-primary) transparent;
}

/* Chrome, Edge, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.5) translateY(10px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    to {
        opacity: 0;
        transform: scale(0.5) translateY(10px);
    }
}