@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import 'tailwindcss';


@custom-variant dark (&:where(.dark, .dark *));

@theme {


    /* Font family */
    --font-family: 'Poppins', Arial, Helvetica, sans-serif;

    /* Light mode colors */

    --color-primary: #CB3249;
    --color-secondary: #253c29;
    --color-background: #ffffff;
    --color-text: #000000;
    --color-card-bg: #fbfbfb;
    --color-border: lightgray;
    --color-input-bg: #fff;

    /* Dark mode colors */
    --color-primary-dark: #ff5e78;
    --color-secondary-dark: #ffffff;
    --color-background-dark: #121212;
    --color-text-dark: #e0e0e0;
    --color-card-bg-dark: #1e1e1e;
    --color-border-dark: #333;
    --color-input-bg-dark: #2a2a2a;
}

body {
    font-family: var(--font-family);
}